<!doctype html>
<html lang="ru">
<head>
    <script type="text/javascript" src="../js/code.jquery.com_jquery-3.7.0.min.js"></script>
    <link href="../bootstrap-5.3.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="utf-8">
    <title>Газпром справочная</title>
    <!-- Custom styles for this template -->
    <link href="../css/headers.css" rel="stylesheet">
    <link href="../css/list-groups.css" rel="stylesheet">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="../js/eel.js"></script>
    <link type="image/x-icon" href="../media/favicon.ico" rel="icon">
</head>
<body>


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 16 16">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>

    </symbol>
</svg>

<div class="d-flex justify-content-center d-none" id="myModal">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Загрузка...</span>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Укажите раздел или выберете существующий</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="mb-3 input-control">
                        <label for="recipient-name" class="col-form-label">Раздел:</label>
                        <input required class="form-control" type="search" list="sections_datalist" autocomplete="on"
                               id="recipient-name">
                        <datalist id="sections_datalist">
                        </datalist>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close">Закрыть</button>
                <input class="btn btn-primary" type="submit" value="Ок" onclick="add();">

            </div>
        </div>
    </div>
</div>

<main id="main">
    <header class="py-3 mb-3 border-bottom">
        <div class="container-fluid d-grid gap-3 align-items-center">


            <div class="d-flex align-items-center">
                <div class="dropdown me-3">
                    <a href="#"
                       class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <svg class="bi me-2" width="40" height="32">
                            <use xlink:href="#bootstrap"/>
                        </svg>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Добавить документ
                                    </font>
                                </font>
                            </a>
                        </li>
                    </ul>
                </div>

                <select class="form-select w-auto me-3" id="sections"></select>


                <div class="w-100 me-3" role="search">
                    <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search"
                           id="searchInput" name="searchInput">
                </div>

                <button class="btn btn-primary" type="button" name="searchButton" id="searchButton" onclick="search();">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Поиск</font>
                    </font>
                </button>
            </div>
        </div>
    </header>


</main>
<div class="d-flex flex-column flex-md-row p-4 gap-4 align-items-center justify-content-center">
    <div class="list-group" id="list-group">

    </div>
</div>

</body>
</html>
